<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.0.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="SGPC" />
	</bean>
	
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/> 
	<context:component-scan base-package="br.com.sgpc" />
	
	<context:annotation-config />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	
	<!-- Habilita a configurações de transações através de anotações-->
	<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"/>

	<bean id="usuarioDao" class="br.com.sgpc.dao.impl.UsuarioDaoImpl" />
	<bean id="pedidoDao" class="br.com.sgpc.dao.impl.PedidoDaoImpl" />
	<bean id="produtoDao" class="br.com.sgpc.dao.impl.ProdutoDaoImpl" />
	<bean id="produtoPedidoDao" class="br.com.sgpc.dao.impl.ProdutoPedidoDaoImpl" />
	<bean id="fornecedorDao" class="br.com.sgpc.dao.impl.FornecedorDaoImpl" />
	<bean id="clienteDao" class="br.com.sgpc.dao.impl.ClienteDaoImpl" />
</beans>
